<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouterServlet</servlet-name>
        <servlet-class>Controller.RouterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>Controller.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>Controller.RegisterUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginController</servlet-name>
        <servlet-class>Controller.GoogleLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLogController</servlet-name>
        <servlet-class>Controller.AuthLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemLogController</servlet-name>
        <servlet-class>Controller.SystemLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BandwidthServlet</servlet-name>
        <servlet-class>Controller.BandwidthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceServlet</servlet-name>
        <servlet-class>Controller.MaintenanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VLANServlet</servlet-name>
        <servlet-class>Controller.VLANServlet</servlet-class>
        <servlet-name>WifiController</servlet-name>
        <servlet-class>Controller.WifiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NetworkAlertController</servlet-name>
        <servlet-class>Controller.NetworkAlertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouterServlet</servlet-name>
        <url-pattern>/RouterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/RegisterUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginController</servlet-name>
        <url-pattern>/GoogleLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLogController</servlet-name>
        <url-pattern>/AuthLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemLogController</servlet-name>
        <url-pattern>/SystemLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BandwidthServlet</servlet-name>
        <url-pattern>/BandwidthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceServlet</servlet-name>
        <url-pattern>/MaintenanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VLANServlet</servlet-name>
        <url-pattern>/VLANServlet</url-pattern>
        <servlet-name>WifiController</servlet-name>
        <url-pattern>/WifiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NetworkAlertController</servlet-name>
        <url-pattern>/NetworkAlertController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
